@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Cormorant:ital,wght@0,00..700;1,300..700&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(to left, #141e30, #243b55);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Cormorant", serif;
}

.container {
  width: 600px;
  height: auto;
  margin: auto 0;
  background-color: #ececec;
  border: none;
  border-radius: 10px;
  box-shadow: 2px 2px 10px #ecececb5;
  display: flex;
  align-items: center;
  flex-direction: column;
}
header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

header h2,
header img {
  margin: 10px;
}
header h2 {
  font-size: 2rem;
  color: #141e30;
  padding: 10px;
}
header img {
  height: 30px;
  width: 30px;
}

main {
  display: flex;
  height: 100px;
  flex: 1;
  margin-top: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main form {
  position: relative;
}
main form .addingTask {
  padding: 10px 60px 10px 80px;
  border-radius: 20px;
  border: none;
  margin-left: 10px;
}
main form button {
  border-radius: 20px;
  border-top: solid 0.5px black;

  background-color: #243b55;
  color: white;
  font-size: 1rem;
  padding: 10px 15px 5px 15px;
  position: absolute;
  text-align: center;
  right: 0.1px;
}

main form button:hover {
  background-color: #243b55c6;
}
main form button:active {
  background-color: #162638c6;
}

footer {
  width: 400px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 5px;
}

footer .foot .list-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  list-style: none;
  width: 100%;
}

footer .list-container li {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  word-wrap: break-word;
  overflow-wrap: anywhere;
  padding: 10px;
}

.unchecked {
  content: url(./images/dry-clean.png);
}
.checked {
  content: url(./images/check.png);
}

.deleteIcon:hover {
  content: url(./images/remove2.png);
}

.iconRemove {
  content: url(./images/remove.png);
}
